 <h1>Корзина</h1>
 {% load static %}
<a href="{% url 'main' %}"> Назад</a><br><br>
    <table >
        <tr style="background-color: #e2e2e2" >

            <th>Книги</th>
            <th>Количество</th>
            <th>Цена<br>
                за шт.</th>
            <th>Общая<br>
                цена</th>
        </tr>
        <tbody>
            {% for item in basket %}
                {% with product_obj=item.book %}
        <tr>
        <td style="width: 500px;">
        <input type="checkbox" checked="true">
            {% if product_obj.picture != "" %}
                       <img src=" {{ product_obj.picture.url }}"  width="8%" height="15%">
                   {% else %}
                       <img src="{% static 'image/book.jpg' %}" width="10%" height="10%">
                   {% endif %}

               <a href="{% url 'detail' product_obj.pk %}">
                     {{ product_obj.title }}
               </a>
        </td>
        <td style="text-align: center;width: 100px;">
              {{ item.count_prod }}
        </td>
        <td style="text-align: center;">
              {{ item.price_prod }} &#8381;
        </td>
        <td style="text-align: center;">
              {{ item.total_price }} &#8381;
        </td>
        <td style="width: 50px;text-align: center;">
          <h2> <a href="{% url 'remove_basket' product_obj.pk %}">&#128465; </a></h2>
        </td>
        </tr>
                {% endwith %}
            {% endfor %}

            <tr >
                <td height="80px"></td>
                <td colspan="2" style="text-align: center; font-size: x-large; background-color: #f8f8f8"><b>Всего:</b></td>
            </tr>
            <tr>
                <td > </td>
                <td colspan="1" style="text-align: center; font-size: large">Книг: {{ basket.get_total_count }} шт.
                </td>
            </tr>

        <tr>
            <td ><a href="{% url 'list' %}" >Список книг</a><br></td>
            <td colspan="2" style="font-size: large"> Общая стоимость <b>= {{ basket.get_total_price }} &#8381;</b> </td>
        </tr>
        <tr>
            <td ><a href="{% url 'clear_basket' %}" >Очистить</a></td>
            <td colspan="2" style="text-align: center;"><a href="{%  url 'client' %}" >Оформить заказ</a></td>
        </tr>
        </tbody>
    </table>
     <div>

        </div>
    </div>
